.error {
  color: red;
}

.containerListItem {
  /*background-color: lightgray;*/
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  transition: border 0.2s ease-out;
  text-decoration: none;
}
.containerListItem:hover {
  border: 2px solid gray;
}

/*.containerListItem > td {*/
/*    border-bottom: none;*/
/*    !*border: solid 1px #000;*!*/
/*    !*border-style: none solid solid none;*!*/
/*    !*padding: 10px;*!*/
/*}*/
