.content {
  width: 100%;
  min-height: 50vh;
  max-height: calc(100vh - 110px);
  padding: 20px;
  border-radius: 5px;
}

.nextButtonSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
