PORT=3000
DOCKER_SOCK_PATH=/var/run/docker.sock
NODE_ENV=DEVELOPMENT
SQLITE_URL=file:./local.db
SERVE_STATIC=TRUE
FRONTEND_URL=http://localhost:5173
# Secret used to sign JWT tokens (be careful not to share it)
# SECRET=
# This temporary directory will be removed and recreated by the backend
# TEMPORARY_DIRECTORY_PATH=/path/to/project/apps/backend/tmp
