.scrollableBox {
  overflow-y: scroll;
}

.scrollableBox::-webkit-scrollbar {
  width: 7px;
}

.scrollableBox::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 5px;
}

.scrollableBox::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
