.logs {
  width: 100%;
  height: 100%;
  background-color: #000815;
  padding: 0 0 0 10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 5px;
  max-height: calc(100vh - 600px);
  min-height: 200px;
}

.logsLine {
  font-family: 'JetBrains Mono', Monospaced;
  font-size: 0.9rem;
  font-weight: 200;
  color: #fff;
  line-height: 1rem;
  margin: 3px;
  word-wrap: break-word;
  word-break: break-word;
  padding-left: 30px;
  text-indent: -30px;
}

.logs:hover > .autoscrollButton {
  opacity: 1;
}

.autoscrollButton {
  border-radius: 25px;
  padding-left: 10px;
  position: absolute;
  top: 10px;
  right: 50px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
